<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>日本語でおｋ.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      span.keyword {
        background-color: yellow;
      }    
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% include 'analytics.html' %}
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>日本語でおk.com</h1>
      <p>日本に関係のあるニュースを世界から集めました</p>
      {% for article in articles %}
      <div style="margin-bottom:0.5em;">
	<a href="http://translate.google.co.jp/translate?sl=en&tl=ja&js=n&prev=_t&hl=ja&ie=UTF-8&layout=2&eotf=1&u={{article.url}}">{{ article.subject_ja }}</a> ({{ article.site_id }}, {{ article.date }})<br/>
	{{ article.body_ja }}
      </div>
      {% endfor %}

      {% include 'footer.html' %}
    </div><!--/.container-->
</body>
</html>
