<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <title>日本語でおｋ.com</title>
    <meta name="description" content="日本に関係のあるニュースを世界から集めました。" />

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .span9 {
        padding-top: 9px;
      }
    </style>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include "analytics.html" %}
  </head>

  <body>
    {% include "navbar.html" %}

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="sidebar-nav">
	    {% include "keywords.html" %}
          </div><!--/.sidebar-nav -->
          <center>{% include "skyscraper.html" %}</center>
        </div><!--/span-->
        <div class="span9">
	  <div class="hero-unit">
	    <!--<img class="pull-right" src="{{ url_for('static', filename='img/logo_big.png') }}"/>-->
	    <h2>日本語でおｋ.com</h2>
	    <p>日本に関係のあるニュースを世界から集めました。</p>
	    <div style="clear:right;"></div>
	  </div>
	  {% for article in articles %}
	  <div style="margin-bottom:0.5em;">
	    <a href="http://translate.google.co.jp/translate?sl=en&tl=ja&js=n&prev=_t&hl=ja&ie=UTF-8&layout=2&eotf=1&u={{article.url|urlencode}}">{{ article.subject_ja }}</a> (<a href="/site/{{article.site_id|urlencode}}">{{ article.site_id }}</a>, {{ article.date }})<br/>
	    <!-- {{ article.id }} -->
	    {{ article.body_ja|articlehead }}
	  </div>
	  {% endfor %}
        </div><!--/span-->
      </div><!--/row-->

      {% include "footer.html" %}

    </div><!--/.fluid-container-->

  </body>
</html>
