<html>
<body>
<form method="POST">
  <table border="1">
    <tr>
      <th>URL</th><td><input type="text" name="url" size="80"/></td>
    </tr>
    <tr>
      <th>Website ID</th><td><input type="text" name="site_id"/></td>
    </tr>
    <tr>
      <th>Date (YYYY-MM-DD)</th><td><input type="text" name="date"/></td>
    </tr>
    <tr>
      <th>Subject</th><td><input type="text" name="subject" size="80"/></td>
    </tr>
    <tr>
      <th>body</th><td><textarea name="body" cols="80" rows="25"></textarea></td>
    </tr>
    <tr>
      <th>scraped by</th><td><input type="text" name="scraped_by"/></td>
    </tr>
  </table>
  <input type="submit"/>
</form>
keyword (entry OR post OR article) html
</body>
</html>
